POSTGRES_URL=postgres://user:password@host:port/database
POSTGRES_PRISMA_URL=postgres://user:password@host:port/database?pgbouncer=true&connect_timeout=15
POSTGRES_URL_NO_SSL=postgres://user:password@host:port/database
POSTGRES_URL_NON_POOLING=postgres://user:password@host:port/database
POSTGRES_USER=user
POSTGRES_HOST=host
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=database
